.sebm-google-map-container {
  height: 300px;
}
form .search-input{
    width: 20%;
    margin-right: 10px;
    display: inline-block;
}
form.pForm{
    padding-bottom: 30px;
}
.has-error{
    border: 1px solid red;
}
.pincode-error{
    color:red;
}
.panel-body .form-div{
    max-height: 65px;
}